sudo apt install -y python3-picamera2
sudo apt install -y python3-cv2
pip install opencv-contrib-python
pip install pygame
pip install SpeechRecognition
pip install pyttsx3
pip install openai
pip install gtts
pip install vosk
sudo apt-get install libportaudio2
pip install sounddevice
sudo apt install portaudio19-dev
pip install PyAudio
pip install pvporcupine
pip install pvrecorder
pip install word2number
pip install gpiozero
pip install rpi.gpio

sudo apt install -y python3-libcamera python3-kms++ libcap-dev
pip install picamera2
pip install libcamera

pip install llamapi
pip install ollama
